@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

@layer base {
    html {
        @apply bg-slate-800 text-white;
        font-family: 'Montserrat', sans-serif;
        font-family: 'Roboto Condensed', sans-serif;
    }
}